@model HealthTech.Web.Models.Patient.AppointmentBookingModel

@{
    ViewData["Title"] = "Book Appointment";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form class="form-control" asp-action="CreateAppointment" asp-controller="Home">
        <div>
            <label class="form-label" asp-for="Name"></label>
            <input class="form-text" asp-for="Name" class="form-control" />
        </div>

        <div>
            <label class="form-label" asp-for="Date"></label>
            <input class="form-input" asp-for="Date" class="form-control" />
        </div>

        <div>
            <label class="form-label" asp-for="Issue"></label>
            <input class="form-input" asp-for="Issue" class="form-control" />
        </div>

        <div>
            <label class="form-label" asp-for="ContactNumber"></label>
            <input class="form-input" asp-for="ContactNumber" class="form-control" />
        </div>

        <div>
            <label class="form-label" asp-for="Email"></label>
            <input class="form-input" asp-for="Email" class="form-control" />
        </div>

        
        <button type="submit" class="btn btn-primary">Book Appointment</button>
    </form>
</div>
